__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
*.db
recordings/*.mp3
recordings/logs/
recordings/audiologger.db
recordings/stations.backup.json
recordings/logos/*.jpg
static/trimmed/
.DS_Store
*.log
